@import "tailwindcss";
@theme {
  --color-primary-50: var(--color-cyan-50);
  --color-primary-100: var(--color-cyan-100);
  --color-primary-200: var(--color-cyan-200);
  --color-primary-300: var(--color-cyan-300);
  --color-primary-400: var(--color-cyan-400);
  --color-primary-500: var(--color-cyan-500);
  --color-primary-600: var(--color-cyan-600);
  --color-primary-700: var(--color-cyan-700);
  --color-primary-800: var(--color-cyan-800);
  --color-primary-900: var(--color-cyan-900);
  --color-primary-950: var(--color-cyan-950);

  --color-netural-50: var(--color-zinc-50);
  --color-netural-100: var(--color-zinc-100);
  --color-netural-200: var(--color-zinc-200);
  --color-netural-300: var(--color-zinc-300);
  --color-netural-400: var(--color-zinc-400);
  --color-netural-500: var(--color-zinc-500);
  --color-netural-600: var(--color-zinc-600);
  --color-netural-700: var(--color-zinc-700);
  --color-netural-800: var(--color-zinc-800);
  --color-netural-900: var(--color-zinc-900);
  --color-netural-950: var(--color-zinc-950);
}

@custom-variant dark (&:where(.dark, .dark *));